  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    /* padding: 0 3rem 0 3rem; */
    color: white;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  
  .navbar-logo img {
    height: 30px;
    margin: 1rem 0;
    padding-left: 3rem;
    width: 100%;
  }
  .navbar-user img {
    width: 2rem;
    padding-right: 3rem;
  }
 