  .table-parent{
    max-width: 90%;
    
  }
  .table-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 1rem 0;
  }
  .table-heading{
    color: #243c76;
    font-weight: 500;
  }